body {
  background: #E4D8B4;
}

#wrapper {
  display: grid;
  grid-template-columns: 65% [left-end right-start] auto;
  grid-template-rows: 11% [header-first-half-end header-second-half-start] 19% [header-second-half-end body-start] auto;
  margin: auto;

  background: #83B799;
  height: 92vh;
  width: 80vw;
  border: 22px solid #272324;
  border-radius: 3vh;
}

#wrapper * {
  font-family: sans-serif;
  color: white;
}

h1 {
  font-size: 6vh;
  position: relative;
  top: 16%;
  text-align: center;
  background: #272324;
  width: 83%;
  margin: auto;
  border-radius: 5vw;
}

#meal-title {
  font-size: 5vh;
  margin: 3vh 0;
}

label, input, button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.pane-title, .select-nav {
  text-align: center;
}

.function-pane {
  background: #ffffff00;
}

#title {
  grid-column-start: 1;
  grid-column-end: left-end;
  grid-row-start: 1;
  grid-row-end: header-first-half-end;

  background: #ffffff00;
  border-radius: 3vh;
}

#top-right {
  grid-column-start: right-start;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: body-start;

  background: #E86F68;
  box-shadow: inset 8px -8px 0px 0px #bb5a54;
  margin: 3%;
  border-radius: 1vw;
}

#bottom-left {
  grid-column-start: 1;
  grid-column-end: left-end;
  grid-row-start: header-second-half-start;
  grid-row-end: 4;

  border-top: 2px solid #333;
}

div#all-meals {
  background: #577b67;
  height: 55vh;
  border: 1px solid grey;
  border-radius: 2vh;
  margin: 1.5vh;
  padding: 1.5vh;
  overflow: scroll;
}

.single-meal {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

ul.ingredients-list {
  column-count: 2;
}

.ratings-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bottom-right {
  grid-column-start: right-start;
  grid-column-end: 3;
  grid-row-start: body-start;
  grid-row-end: 3;

  border-left: 2px solid #333;
}

#meal-buttons-map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  height: 62%;
  width: 89%;
  margin: auto;
}

input.meal-button-checkbox {
  display: none;
}

input.meal-button-checkbox + label {
  margin: 5%;
  background: #FFD628;
  box-shadow: inset 7px -7px 0 0 #826903;
}

input.meal-button-checkbox:checked + label {
  background: #87C232;
  box-shadow: inset 4px -4px 0 0 #826903;
}

#oven {
  height: 32vw;
  width: 27vw;
  margin: auto;
  background: #333;
  box-shadow: inset 7px -7px 0 0 #000000;
  border-radius: 4vh 4vh 0 0;
}

#oven div#oven-dials {
  height: 14%;
  margin: 3% 0;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 3%;
}

#oven-dials .oven-dial {
  height: 3vw;
  width: 3vw;
  background: #bdbdbd;
  border-radius: 100%;
  box-shadow: inset 3px -4px 0 0 #7b7b7b;
}

#oven-door {
  height: 56%;
  margin: 5% 3%;
  border-radius: 3%;
  border: 1px solid white;
  box-shadow: inset 5px -5px 0 0 #6d6d6d;
}

#oven-door.opened {
  background: #e4d8b4;
  box-shadow: inset -20px 7px 3px 0 #b3aa8e;
}

#oven-handle {
  background: #6d6d6d;
  height: 11%;
  margin: 4% 7%;
  border-radius: 100%;
  box-shadow: -5px 7px 9px 0 #1d1d1d;
}

#oven button#generate-plan {
  font-size: 1em;
  position: relative;
  margin-top: 9%;
  height: 37%;
  left: 17%;
  width: 68%;
  background: #272324;
}

#oven button#generate-plan:hover,
#oven button#oven-door-opened:hover {
  background: #fcd633;
  color: #333;
}

#oven-drawer {
  border: 1px solid white;
  height: 18%;
  margin: 3%;
  border-radius: 3%;
  box-shadow: inset 5px -5px 0 0 #6d6d6d;
}

button#oven-door-opened {
  width: 109%;
  margin-top: 60%;
  left: -2%;
  height: 18%;
  position: relative;
  background: #6d6d6d;
  border-radius: 6%;
  box-shadow: inset 16px -2px black;
}

div#oven-handle-opened {
  background: #6d6d6d;
  position: relative;
  height: 11%;
  margin: 4% 7%;
  top: -3%;
  border-radius: 0 0 100% 100%;
  box-shadow: -20px 2px 9px 0 #1d1d1d;
}
