#wrapper {
  display: grid;
  grid-template-columns: 65% [left-end right-start] auto;
  grid-template-rows: 22% [header-end body-start] auto;
  margin: auto;

  background: #c2dae2;
  height: 97vh;
  width: 97vw;
  border: 2px solid #333;
  border-radius: 3vh;
}

#wrapper * {
  font-family: sans-serif;
}

h1 {
  font-size: 3em;
  position: relative;
  top: 33%;
  color: #333;
  text-align: center;
  background: #fff;
  width: 83%;
  margin: auto;
  border-radius: 5vw;
}

.pane-title, .select-nav {
  text-align: center;
}

.function-pane {
  background: #ffffff00;
}

.function-pane div {
  border: 1px solid black;
}

#title {
  grid-column-start: 1;
  grid-column-end: left-end;
  grid-row-start: 1;
  grid-row-end: header-end;

  background: #ffffff00;
  border-radius: 3vh;
}

#top-right {
  grid-column-start: right-start;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: header-end;

  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
}

#bottom-left {
  grid-column-start: 1;
  grid-column-end: left-end;
  grid-row-start: body-start;
  grid-row-end: 3;

  border-top: 2px solid #333;
}

#bottom-right {
  grid-column-start: right-start;
  grid-column-end: 3;
  grid-row-start: body-start;
  grid-row-end: 3;

  border-left: 2px solid #333;
}

table#meal-toggle-buttons {
  width: 95%;
  height: 60%;
  border-collapse: collapse;
}

table#meal-toggle-buttons td {
  border: 1px solid black;
}

#oven {
  height: 80%;
}

#oven button {
  position: relative;
  top: 35%;
  height: 30%;
  left: 25%;
  width: 50%;
}
